body{
   background: rgb(102, 164, 235);
    
}
header{
    display: flex;
    justify-content: space-between;
   
}

section{
    width: 70%;
    margin: 0 auto ;
    color: white;
}
h1{
    font-size: 3rem;
}

button{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-top: 2rem;
}

.nav{
    margin-right:15rem ;
}
ul{
    display: flex;
}

li{
    list-style: none;
    margin-right: 1.5rem;
}

a{
    text-transform: capitalize;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
    
}

li:hover{
border-bottom:2px solid;
}

#footer{
    margin-top: 15rem;
    display: flex;
    justify-content: space-evenly;
}
