@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

header {
  display: flex;
  /* YOU CAN ALSO TRY THIS

  justify-content: space-between;
  
  */
  background: #262626;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}
body {
  background-image: url(/img/big-sofa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.logo {
  margin-right: auto;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.cta button {
  margin-left: 20px;
  padding: 9px 25px;
  background: #a5a5a5;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.left {
  float: left;
  font-weight: 500;
  line-height: 5rem;
  margin: 80px 0px 40px 10rem;
}

.left .words {
  line-height: 1.5;
}
.right {
  float: right;
  font-size: 2.6rem;
  color: white;
  margin: 75px 20rem 80px 0px;
}

.left button {
  margin-top: 50px;
  padding: 9px 25px;
  background: #262626;
  border: none;
  border-radius: 7px;
}
